<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span>Image</span> {{image.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date Created</span></dt>
                <dd>
                    <span>{{image.dateCreated}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{image.description}}</span>
                </dd>
                <dt><span>Tag</span></dt>
                <dd>
                    <span>{{image.tag}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="image.image">
                        <a (click)="openFile(image.imageContentType, image.image)">
                            <img [src]="'data:' + image.imageContentType + ';base64,' + image.image" style="max-width: 100%;" alt="image image"/>
                        </a>
                        {{image.imageContentType}}, {{byteSize(image.image)}}
                    </div>
                </dd>
                <dt><span>Contact</span></dt>
                <dd>
                    <div *ngIf="image.contact">
                        <a [routerLink]="['/contact', image.contact?.id, 'view']">{{image.contact?.username}}</a>
                    </div>
                </dd>
                <dt><span>Review</span></dt>
                <dd>
                    <div *ngIf="image.review">
                        <a [routerLink]="['/review', image.review?.id, 'view']">{{image.review?.name}}</a>
                    </div>
                </dd>
                <dt><span>Service</span></dt>
                <dd>
                    <div *ngIf="image.service">
                        <a [routerLink]="['/service', image.service?.id, 'view']">{{image.service?.name}}</a>
                    </div>
                </dd>
                <dt><span>Merchant Account</span></dt>
                <dd>
                    <div *ngIf="image.merchantAccount">
                        <a [routerLink]="['/merchant-account', image.merchantAccount?.id, 'view']">{{image.merchantAccount?.name}}</a>
                    </div>
                </dd>
                <dt><span>Resource</span></dt>
                <dd>
                    <div *ngIf="image.resource">
                        <a [routerLink]="['/resource', image.resource?.id, 'view']">{{image.resource?.name}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
