<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-8">

        <div [ngSwitch]="isAuthenticated()">
            <div class="lead" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"> Hey {{account.login}}, welcome back!</span>
        		<p class="lead">Our simple aim at Yalday, is less work more play.</p>
            </div>
            
            
             <div class="lead" *ngSwitchCase="false">
                <span id="home-logged-message" *ngIf="account"> Hey {{account.login}}, welcome back!</span>
        		<p class="lead">Our simple aim at Yalday is less <b style=color:grey;>work</b> more <b>play</b>.</p>
        		<span> </span> If you have an account, then
                <a class="alert-link" (click)="login()">sign in</a><span></span>. Alternatively, <a class="alert-link" routerLink="register">Register a new account.</a>
            </div>
            	<h1 class="display-4">How will you <b>play</b> today?</h1>
        </div>

			
  
    </div>
</div>

<jhi-merchant-search></jhi-merchant-search>
<br>
<h4>Explore</h4>
<div class="row">
	<div class="col-md-12">
		<div class="merchant-types">
			<div class="row">
		  	
        		<div class="merchantBox">	
					<img class="merchantImage" src="/content/images/restaurant.jpg" alt='image'>
					<div class="merchantInfo">
					  	<h5 style="color:#004159;">(Food)</h5>
					</div>
				</div>
  
        <div class="merchantBox">	
				<img class="merchantImage" src="/content/images/adventure.jpg" alt='image'>
				<div class="merchantInfo">
						<h5 style="color:#004159;">(Adventure)</h5>
				</div>
		</div>
        <div class="merchantBox">	
				<img class="merchantImage" src="/content/images/tours.jpg" alt='image'>
				<div class="merchantInfo">
					<h5 style="color:#004159;">(Tours)</h5>
				</div>
		</div>
        <div class="merchantBox">	
				<img class="merchantImage" src="/content/images/events.jpg" alt='image'>
				<div class="merchantInfo">
					<h5 style="color:#004159;">(Events)</h5>
				</div>
		</div>
		</div>
	</div>
  </div>
</div>


<br>
<h4>Upcoming Events in Glasgow</h4>
<div class="row">
	<div class="col-md-12">
		<div class="merchant-types">
			<div class="row">
		  	
        		<div class="merchantBox">	
					<img class="merchantImage" src="/content/images/restaurant.jpg" alt='image'>
					<div class="merchantInfo">
					  	<h5 style="color:#004159;">[Household]</h5>
					</div>
				</div>
  
        <div class="merchantBox">	
				<img class="merchantImage" src="/content/images/adventure.jpg" alt='image'>
				<div class="merchantInfo">
						<h5 style="color:#004159;">[Pets]</h5>
				</div>
		</div>
        <div class="merchantBox">	
				<img class="merchantImage" src="/content/images/tours.jpg" alt='image'>
				<div class="merchantInfo">
					<h5 style="color:#004159;">[Deliveries]</h5>
				</div>
		</div>
		</div>
	</div>
  </div>
</div>

<h4>Special Offers in Glasgow</h4>
<div class="row">
	<div class="col-md-12">
		<div class="merchant-types">
			<div class="row">
		  	
        		<div class="merchantBox">	
					<img class="merchantImage" src="/content/images/restaurant.jpg" alt='image'>
					<div class="merchantInfo">
					  	<h5 style="color:#004159;">[Household]</h5>
					</div>
				</div>
  
        <div class="merchantBox">	
				<img class="merchantImage" src="/content/images/adventure.jpg" alt='image'>
				<div class="merchantInfo">
						<h5 style="color:#004159;">[Pets]</h5>
				</div>
		</div>
        <div class="merchantBox">	
				<img class="merchantImage" src="/content/images/tours.jpg" alt='image'>
				<div class="merchantInfo">
					<h5 style="color:#004159;">[Deliveries]</h5>
				</div>
		</div>
		</div>
	</div>
  </div>
</div>



<br>
<h4>Free up some spare time by booking one of our many helpers.</h4>
<div class="row">
	<div class="col-md-12">
		<div class="merchant-types">
			<div class="row">
		  	
        		<div class="merchantBox">	
					<img class="merchantImage" src="/content/images/restaurant.jpg" alt='image'>
					<div class="merchantInfo">
					  	<h5 style="color:#004159;">[Household]</h5>
					</div>
				</div>
  
        <div class="merchantBox">	
				<img class="merchantImage" src="/content/images/adventure.jpg" alt='image'>
				<div class="merchantInfo">
						<h5 style="color:#004159;">[Pets]</h5>
				</div>
		</div>
        <div class="merchantBox">	
				<img class="merchantImage" src="/content/images/tours.jpg" alt='image'>
				<div class="merchantInfo">
					<h5 style="color:#004159;">[Deliveries]</h5>
				</div>
		</div>
		</div>
	</div>
  </div>
</div>





