<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="review">
            <h2><span>Review</span> {{review.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{review.name}}</span>
                </dd>
                <dt><span>Rating</span></dt>
                <dd>
                    <span>{{review.rating}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{review.description}}</span>
                </dd>
                <dt><span>Review Date</span></dt>
                <dd>
                    <span>{{review.reviewDate}}</span>
                </dd>
                <dt><span>Profile Image</span></dt>
                <dd>
                    <div *ngIf="review.profileImage">
                        <a (click)="openFile(review.profileImageContentType, review.profileImage)">
                            <img [src]="'data:' + review.profileImageContentType + ';base64,' + review.profileImage" style="max-width: 100%;" alt="review image"/>
                        </a>
                        {{review.profileImageContentType}}, {{byteSize(review.profileImage)}}
                    </div>
                </dd>
                <dt><span>Contact</span></dt>
                <dd>
                    <span *ngFor="let contact of review.contacts; let last = last">
                        <a [routerLink]="['/contact', contact?.id, 'view' ]">{{contact.username}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span>Merchant Account</span></dt>
                <dd>
                    <span *ngFor="let merchantAccount of review.merchantAccounts; let last = last">
                        <a [routerLink]="['/merchant-account', merchantAccount?.id, 'view' ]">{{merchantAccount.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/review', review.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
